<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html {
            font-family: arial, sans-serif;
        }


        body {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        a {
            padding: 0 40px;
            height: 48px;
            background-color: #e21a1a;
            color: #fff;
            border: none;
            font-weight: 500;

            font-size: 20px;
            margin-top: 16px;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <h2>Данные формы сохранены. Через несколько секунд запустится окно с результатами вычисления</h2>
    <a href="/">Вернуться назад</a>
</body>

</html>